<div class="row">
  <div class="col-xs-12">
    <img
      [src]="todoitem.imagePath"
      alt="{{ todoitem.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ todoitem.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage ToDo Item <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!--<li><a href="#">To Action List</a></li>-->
        <li><a (click)="onAddToActionList()" style="cursor: pointer;">To Action List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditTodoItem()" >Edit ToDo Item</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteTodoItem()" >Delete ToDo Item</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ todoitem.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let todoaction of todoitem.todoactions">
        {{ todoaction.name }} - {{ todoaction.amount }}
      </li>
    </ul>
  </div>
</div>
